body{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
*{
    box-sizing: border-box;
}
:root{
    --font-heading:"Sen", sans-serif;
    --color-btn:#FFB900;
    
}
html{
    font-size: 62.5%;
}
/* ------------------common------------------ */
.heading-lv2{
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}
a{
    text-decoration: none;
    /* bỏ gạch chân */
}
.main-content{
    width: 1170px;
   margin: 0 auto;
    max-width: calc(100% - 48px);
    /* co ra co vào không bị sát lề  */
}
.btn{
    cursor: pointer;
    line-height: 50px;
    min-width: 118px;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    padding: 0 16px;
    /* vì phần text mang thuộc tính inline(padding chỉ có thể chạy theo chiều ngang) sửa lại để thêm padding-chiều dọc */
}
.btn:hover{
    opacity: 0.75;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* quá cỡ sẽ hiển thị 3 chấm */
}
.line-clamp.line-2{
    --line-clamp:2;
    /* quá 2 dòng hiện dấu 3 chấm */
}
.break-all{
    word-break: break-all;
    /* khi nhập một từ quá dài hoặc đường link quá dài thì cũng sẽ không bị vở giao diện */
}
/* ----------------header---------------- */
.header{
    background-color: #fffcf4;
}
.header.fixed{
    z-index: 1;
    /* để ảnh không đề lên nav */
    position: sticky;
    /* dữ cho thanh nav không bị trôi */
    top:-28px;
    /* vì ở trên cách 36 ở dưới cách 8=>36-8=28 */
    /* nên khi kéo thì ở trên sẽ -28px còn 8px */
}
.header .headerbody{
    display: flex;
    align-items:center;
    padding: 36px 0 8px;

}
.nav{
    margin-left: auto;
}
.nav ul{
    display: flex;
}
/* flex để xay ngang nội dung-> áp dụng cho phần tử lớn chứa các phần tử nhỏ */
.nav a{
    position: relative;
    color:#5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}
.nav li.active a,
.nav a:hover{
    color:black;
    text-shadow: 0 -1px 0 black;
}
/* hover trên chỉ áp dụng cho mỗi .nav a vì nó đứng ngay sau */
.nav li.active a::after{
    display: block;
    width: 12px;
    height: 2px;
    background-color: black;
    border-radius: 1px;
    content: "";
    position: absolute;
    /* phần tử định vị theo tổ tiên gần nhất có position:relative */
    left: 21px;
    bottom: 6px;   
}
/* dấu gạch chân dưới chữ H */


.header .signup{
    margin-left: 49px;
}
/* -------------------hero------------ */
.hero{
    padding :56px 0 65px;
    background-color:#fffcf4 ;
}
.hero .mainbody{
    display: flex;
}
/* -----------------hero left----------- */
.hero .media-block{
    position: relative;
    width: 48%;
}
.hero .content-block{
    width: 52%;
}
.hero .media-block .img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;

}
.hero .hero-sumary{
    position: absolute;
    width: 270px;
    padding: 24px;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-sumary .item{
    display: flex;
    align-items: center;
}
.hero-sumary .item+.item{
    margin-top: 22px;
}
.hero-sumary .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.hero-sumary .infor{
    margin-left: 16px;
}
.hero-sumary .label{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}
.hero-sumary .title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
/* ------------------hero right---------- */
.hero .content-block{
    padding-top: 64px;
    padding-left: 130px;
    width: 52%;
}
.hero .heading{
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    /* độ đậm chữ */
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
    /* khoảng cách giữa các chữ */
}
.hero .decrision{
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
    margin-top: 22px;
}
.hero .cta-group{
    margin-top: 38px;
    display: flex;
    align-items: center;
    /* căn theo cột dọc, justify content là cột ngang */
}
 .hero-cta{
    min-width: 180px;
    border-radius: 32px;
    background: var(--color-btn);
    width: 180px;
    line-height: 64px;
    /* tăng khoảng cách giữa các dòng */
    
}
.hero .watch-video{
    border: none;
    background: transparent;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}
.hero .watch-video .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.hero .watch-video span{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-left: 14px;
}
.hero .desc{
    margin-top: 48px;
}
.hero .stats{
    margin-top: 8px;
}

.hero .stats strong{
    margin-right: 15px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22; /* 122.727% */
}
.hero .stats strong:nth-child(2){
    margin-left: 28px;
}
.popular{
    padding: 65px 0;
    margin-top: 135px;

}
.popular-top{
    display: flex;
    justify-content: space-between;
    align-items: ceter;
}
.popular-top .descrision-infor{
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    width: 458px;
    margin-top: 16px;
}
.popular-top .control{
    display: flex;
    gap: 18px;
    align-items: center;
}
.popular-top .control-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent;
    border-radius: 50%;
    border: 1px solid var(--color-btn)
}
.popular-top .btn-right{
    background-color: var(--color-btn);
    color: white;
}
.popular-top .btn-left{
    color: var(--color-btn);
}
.popular-top .btn-left:hover{
    background-color: var(--color-btn);
    color: white;
    cursor: pointer;
}
.popular-top .btn-right:hover{
    background-color: white;
    cursor: pointer;
    color: var(--color-btn);
}
.popular .course-list{
    gap: 30px;
    display: flex;
    margin-top: 55px;
}
.course-list .title a{
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.course-list .course-item .thum{
    border-radius: 12px 12px 0px 0px;
    height: 278px;
    object-fit: cover;
    /* "giữ nguyên tỷ lệ khung hình đó */
    width: 100%;
}
.course-list .course-item{
    flex :1;
    /* giữ để không bị vỡ giao diện */
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    width: 31.6%;

}
.course-list .course-item .infor{
    padding : 16px 22px 22px ;
}
.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .rating .value{
    margin-left: 6px;
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height:1.75; /* 175% */
}
.popular .course-item .desc{
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}
.popular .course-item .foot{
    margin-top: 12px;
}
.popular .course-item .price{
    color: #171100;
    font-size: 1.8rem;    
    font-weight: 600;
    line: height 1.67; /* 166.667% */
}

.popular .course-item .btn-book{
    background-color: var(--color-btn);
    border-radius: 25px;
    width: 118px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.86; /* 185.714% */
    border: var(--color-btn);
    cursor: pointer;
}

.popular .course-item .btn-book:hover{
    opacity: 0.7;
}
/* -------------------feedback-------------- */
.feedback .feedback-item{
    display: flex;
    flex-shrink: 0;
     /* giữ hàng giữ lối chữ  */
    overflow: hidden;
    width: 100%;
    /* chuẩn theo bề rộng khối  */
   
}
.feedback{
    background: #2E2100;
    margin-top: 135px;
    padding: 96px 0;
    width: 1440px;
    margin: 0 auto;
}
.feedback .ava{
    width: 72px;
    height: 72px;
    border-radius: 72px;
    object-fit: cover;
    /* để ảnh không bị méo */
}
.feedback .desc{
    color: #F7F7F7;
    font-family:var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
    margin-top: 18px;
}
.feedback .desc2{
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
    margin-top: 4px;
}
.feedback .dots{
    display: flex;
    margin-top: 28px;
    gap: 6px;
}
.feedback-item .dot{
    width: 6px;
    height: 6px;    
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.feedback-item .dot.active{
    background: #FFB900;
    cursor: default;
}
.feedback-item .content{
    width: 66%;
    margin-left: auto;
}
.feedback-item blockquote{
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
}
.feedback-list{
    display: flex;
    overflow: hidden;
    /* ẩn comment thứ 2 thứ 3.... */
}

/* --------------------------features------------------- */
.feature{
    margin-top: 135px;
    padding: 65px 0; 
}
.feature .body{
    display: flex;
    justify-content: space-between;
}
.feature .images{
    display: flex;
    gap: 30px;
}
.feature .images img{
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}
.feature .lower{
    margin-top: 34px;
}
.feature .content{
    width: 41%;
    margin-top: 58px;
   
}
.feature .desc{
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.feature .btn.cta-btn{
    margin-top: 32px;
    width: 137px;
    height: 50px;
    border-radius: 26px;
    background:var(--color-btn);
}
.feature .body2{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.feature .btn.cta-join{
    margin-top: 32px;
    width: 137px;
    height: 50px;
    border-radius: 26px;
    background: var(--color-btn);
}
.feature .body2 .images-2 img{
    width: 470px;
    height: 440px;      
    border-radius: 20px;
}
.feature .body2 .content{
    width: 49%;
}
/* ---------------------blog--------------------- */

.blog{
    margin-top: 135px;
    padding: 96px 0;
    background: #FFFCF4;
}
.blog .body{
    display: flex;
    width: 33.33%;
    gap: 30px;
    
}
.blog .header{
    height: 175px;
    text-align: center;
}
.blog .header .desc{
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    width: 448px;   
    text-align: center;
    margin: 0 auto;
}

.blog .item img{
    object-fit: cover;
    height: 250px;

}
.blog .item .infor{
    padding: 20px 20px 28px;
    background-color: white;
}
.blog .item .date .dot{
    display:inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-btn);
}
.blog .item .time{
    
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}
.blog .item .line{
    margin-top: 12px;
    margin-bottom: 12px;
    content: "";
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}
.blog .item h3{
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.blog .item .btn{
    margin-top: 12px;
   
}
.blog .item .btn.readmore{
    background:var(--color-btn);
}

.blog .cham{
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 35px;
}

.blog .chamcham{
    height: 6px;
    width: 6px;
    background-color: #5F5B53;
    border-radius: 50%;
    cursor: pointer;
}

.blog .chamcham.active{
    background-color: var(--color-btn);
    cursor: default;
}
/* -------------footer--------------- */
.end{
    margin: 0 auto;
    width: 1440px;
    height: 428px;
    background: #2E2100;
    padding: 96px 135px 0;;
}
.end .bodi{
    display: flex;
}
.end .item{
    width: 135px;
}
.end .item.item1{
    width: 267px;
}
.end .item.item1 .desc{
    color: #BFBCB2;
    font-size:1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
    width: 267px;
    margin-top: 18px;
}
.end .item.item1 .icon{
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
    width: 111px;
}
.end .icon i{
    height: 15px;
    color: white;
}
.end .item.item2
{
    width: 130px;
    margin-left:145px;
}
.end .title.a{
    color: #FFF;
    font-size: 1.6rem;  
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.end .item .line{
    width: 130px;
    height: 1px;
    background: #59554B;
    margin-top: 14px;
}
.end .item .anh2{
    margin-top: 28px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height:1.86; /* 185.714% */
}
.end .item .mota{
    color: #BFBCB2;
    font-size: 1.4rem;    
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}
.end .item.item3{
    width: 137px;
    margin-left: 130px;
}
.end .item.item4{
   margin-left: 130px;
   width: 231px;
}
.end .linedai{
    margin-top: 38px;
    background: #59554B;
    width: 1170px;
    height: 1px;
}
.end .endgame{
    margin-top: 28px;
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}